In [252]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from pydataset import data
import env

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- Has the network latency gone up since we switched internet service providers?
- Is the website redesign any good?
- Is our television ad driving more sales?

#### Has the network latency gone up since we switched internet service providers?
$H_{0}$ :  Service providers has no effect on network latency

$H_{a}$ : Service providers has effect on network latency

True Positive: we rejected Null Hypothesis, new service provider's clogged network on busy hours. 

True Negative: We failed to reject Null Hypothesis, playing 4k games increases network latency

type I: We rejected Null Hypothesis, slow computer causes increase on network latency

type II: We failed to reject Null Hypothesis, service provider's internet speed is slower than other service provider's internet speed.

#### Is the website redesign any good?
$H_{0}$ : website redesign is not good

$H_{a}$ : website redesign is good

True Positive: we rejected Null Hypothesis, website redsegin voted best by consumers

True Negative: we failed to reject Null Hypothesis, website redsegin voted worst by consumers

Type I: we rejected Null Hypothesis, number users visitng website decreases because of bad redesign

Type II: we failed to reject Null Hypothesis, high number of users said that website redesign is good

#### Is our television ad driving more sales?
$H_{0}$ : television ad is not increasing sales

$H_{a}$ : television ad increases sales

True Positive: we rejected Null Hypothesis, sales remain same after television ad

True Negative: we failed to reject Null Hypothesis, customers who haven't seen televsions ad increased sales

type I: we rejected  Null Hypothesis, sales decreases after televison ad

type II: we failed to reject Null Hypothesis, sales increases after television ad

#### Answer with the type of test you would use (assume normal distribution):

   - Is there a difference in grades of students on the second floor compared to grades of all students?
    
   - Are adults who drink milk taller than adults who dont drink milk?
     
   - Is the the price of gas higher in texas or in new mexico?    
    
   - Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

2-tail One Sample T-Test

1-tail Independent T-Test

1-tail Independent T-Test, greater than

ANOVA Analysis of Variance

####  3. Load the mpg dataset and use it to answer the following questions:

    - Is there a difference in fuel-efficiency in cars from 2008 vs 1999? 
    
    - Are compact cars more fuel-efficient than the average car?
    
    - Do manual cars get better gas mileage than automatic cars?

In [253]:
df = data('mpg')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [255]:
df['fuel_efficiency'] = (df.cty + df.hwy)/2
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

###  Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [256]:
# Independent T-Test 2_tail, significantly different

### Hypothesis
$H_{0}$ : cars from 2008 and 1999 has no difference in fuel-efficiency

$H_{a}$ : cars from 2008 and 1999 has difference in fuel- efficiency

### Significane Level
Alpha set to 0.05

In [257]:
year_1999 = df[df.year == 1999].fuel_efficiency
year_2008 = df[df.year == 2008].fuel_efficiency

In [258]:
alpha = 0.05

### Verify assumptions

- Independent sample
- Normal Distribution, or at least 30 observations
- Equal Variance

In [259]:
df.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [260]:
print(year_1999.var())
print(year_2008.var())

27.122605363984682
24.097480106100797

### Compute test statistic and probability (t-statistic & p-value)

In [261]:
t, p = stats.ttest_ind(year_1999, year_2008, equal_var=False)
t, p

(0.21960177245940962, 0.8263750772060638)

### Decide:
    
- p-value < alpha

In [262]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

if p < alpha:
    print('Reject $H_{0}$')
else: 
    print('Fail to reject $H_{0}$ ')

Fail to reject $H_{0}$

### Conclusion: 
We failed to reject the Null Hypothesis, there is no significant difference in fuel effficiency between cars made in 1999 and 2008

#### Are compact cars more fuel-efficient than the average car?

In [263]:
# One Sample T-Test 1-tail, significantly larger

### Hypothesis
$H_{0}$ :compact cars are not fuel-effiecient than average car

$H_{a}$ : compact cars are more fuel-effiecient than of all car

### Significane Level
Alpha set to 0.05

In [264]:
alpha = 0.05

### Verify Assumptions

- Normal Distribution, or at least 30 observations

In [265]:
df['class'].value_counts()

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: class, dtype: int64

In [266]:
compact_sample = df[df['class'] == 'compact'].fuel_efficiency
overall_mean = df.fuel_efficiency.mean()
overall_mean

20.14957264957265

### Compute test statistic and probability (t-statistic & p-value)

In [267]:
t, p = stats.ttest_1samp(compact_sample, overall_mean)
t, p/2

(7.896888573132533, 2.0992818971585743e-10)

### Decide

- p/2 < alpha and t > 0

In [268]:
# Are compact cars more fuel-efficient than the average car?

if p/2 > alpha:
    print("We fail to reject $H_{0}$")
elif t < 0:
    print("We fail to reject $H_{0}$")
else:
    print("We reject $H_{0}$")

We reject $H_{0}$

### Conclusion: 
We rejected the Null Hypothesis, compact cars are more efficient than the average car

###  Do manual cars get better gas mileage than automatic cars?

In [269]:
# Independent T-Test 1 tail, significantly larger

### Hypothesis

$ð»_{0}$  : manual cars are not more fuel-efficient than automatic cars

$ð»_{ð‘Ž}$  : manual cars are more fuel-efficient than automatic cars

###  Significane Level

Alpha set to 0.05

In [270]:
alpha = 0.05

In [271]:
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [272]:
manual_sample = df[df.trans.str.startswith('m')].fuel_efficiency
auto_sample =df[df.trans.str.startswith('a')].fuel_efficiency

In [273]:
manual_sample.mean()

22.227272727272727

In [274]:
auto_sample.mean()

19.130573248407643

### Verify assumptions

- Independent sample
- Normal Distribution, or at least 30 observations
- Equal Variance

In [275]:
df.trans.value_counts()

auto(l4)      83
manual(m5)    58
auto(l5)      39
manual(m6)    19
auto(s6)      16
auto(l6)       6
auto(av)       5
auto(s5)       3
auto(s4)       3
auto(l3)       2
Name: trans, dtype: int64

In [276]:
manual_sample.var()

26.635167464114826

In [277]:
auto_sample.var()

21.942777233382337

In [278]:
# check variance 

t, p = stats.levene(manual_sample, auto_sample)
t, p/2

(0.20075824847529639, 0.32726381775659286)

### Compute test statistic and probability (t-statistic & p-value)

In [279]:
t, p = stats.ttest_ind(manual_sample, auto_sample, equal_var=False)
t, p / 2

(4.443514012903072, 8.976124499958947e-06)

### Decide

- p/2 < alpha and t > 0

In [280]:
#Do manual cars get better gas mileage than automatic cars?

if p / 2 > alpha:
    print("We fail to reject $H_{0}$")
elif t < 0:
    print("We fail to reject $H_{0}$")
else:
    print("We reject $H_{0}$")

    
# another way

# if t > 0 and (p/2) < alpha:
#     print("We reject $H_{0}$")
# else:
#     print("We fail to reject $H_{0}$")

We reject $H_{0}$

### Conclusion:
We rejected the Null Hypothesis, manual cars are more fuel-efficient than automatic car